body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:200px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:280px;
  height:200px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:344px;
  width:241px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:373px;
  width:241px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:22px;
  width:45px;
  height:18px;
  font-size:16px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:22px;
  width:65px;
  height:18px;
  font-size:16px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:22px;
  width:47px;
  height:18px;
  font-size:16px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:283px;
  width:154px;
  height:28px;
  text-align:center;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:311px;
  width:185px;
  height:15px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:190px;
  width:60px;
  height:60px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u0_img.a {
}
#u0.a {
}
#u1.a {
  border-width:0px;
  position:absolute;
  left:40px;
  top:344px;
  width:241px;
  height:25px;
}
#u1_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2.a {
  border-width:0px;
  position:absolute;
  left:40px;
  top:373px;
  width:241px;
  height:25px;
}
#u2_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3.a {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:40px;
}
#u4.a {
}
#u4_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4.a {
}
#u4_text.a {
}
#u5.a {
}
#u5_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5.a {
}
#u5_text.a {
}
#u6.a {
}
#u6_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6.a {
}
#u6_text.a {
}
#u7.a {
}
#u7_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7.a {
}
#u7_text.a {
}
#u8.a {
}
#u8_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u8.a {
}
#u8_text.a {
}
#u9.a {
}
#u9_img.a {
}
#u9.a {
}
#u9_text.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u0_img.b {
}
#u0.b {
}
#u1.b {
  border-width:0px;
  position:absolute;
  left:40px;
  top:344px;
  width:241px;
  height:25px;
}
#u1_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2.b {
  border-width:0px;
  position:absolute;
  left:40px;
  top:373px;
  width:241px;
  height:25px;
}
#u2_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3.b {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:40px;
}
#u4.b {
}
#u4_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4.b {
}
#u4_text.b {
}
#u5.b {
}
#u5_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5.b {
}
#u5_text.b {
}
#u6.b {
}
#u6_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6.b {
}
#u6_text.b {
}
#u7.b {
}
#u7_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7.b {
}
#u7_text.b {
}
#u8.b {
}
#u8_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u8.b {
}
#u8_text.b {
}
#u9.b {
}
#u9_img.b {
}
#u9.b {
}
#u9_text.b {
}
